force-app/main/default/flows/Display_Opportunity_With_Sharing.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Default_Access_Demo</name>
        <label>Default Access Demo</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <actionName>DefaultAccessFlowDemo</actionName>
        <actionType>apex</actionType>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>display_an_opportunity</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>faultmessage</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>DefaultAccessFlowDemo</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Inherited_Sharing_Access_Demo</name>
        <label>Inherited Sharing Access Demo</label>
        <locationX>1106</locationX>
        <locationY>458</locationY>
        <actionName>InheritedAccessFlowDemo</actionName>
        <actionType>apex</actionType>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>display_an_opportunity</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>faultmessage</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>InheritedAccessFlowDemo</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>With_Sharing_Access_Demo</name>
        <label>With Sharing Access Demo</label>
        <locationX>1634</locationX>
        <locationY>458</locationY>
        <actionName>WithSharingAccessFlowDemo</actionName>
        <actionType>apex</actionType>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>display_an_opportunity</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>faultmessage</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>WithSharingAccessFlowDemo</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Without_Sharing_Access_Demo</name>
        <label>Without Sharing Access Demo</label>
        <locationX>2162</locationX>
        <locationY>458</locationY>
        <actionName>WithoutSharingAccessFlowDemo</actionName>
        <actionType>apex</actionType>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>display_an_opportunity</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>faultmessage</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>WithoutSharingAccessFlowDemo</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>ComponentChoiceAssi</name>
        <label>Component Choice Assignemt</label>
        <locationX>1370</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>ComponentChoice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Invocable_method_Sharing_Keyword</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Component</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Default</name>
        <choiceText>Default</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Default</stringValue>
        </value>
    </choices>
    <choices>
        <name>Get_Records_Element</name>
        <choiceText>Get Records Element</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Get Records Element</stringValue>
        </value>
    </choices>
    <choices>
        <name>Inherited</name>
        <choiceText>Inherited</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Inherited </stringValue>
        </value>
    </choices>
    <choices>
        <name>With_Sharing</name>
        <choiceText>With Sharing</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>With Sharing</stringValue>
        </value>
    </choices>
    <choices>
        <name>Without_Sharing</name>
        <choiceText>Without Sharing</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Without Sharing</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Component</name>
        <label>Component</label>
        <locationX>1370</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>GetElement</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ComponentChoice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Records_Element</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_opportunity</targetReference>
            </connector>
            <label>Get Element</label>
        </rules>
        <rules>
            <name>OmittedSharing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ComponentChoice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Default</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Default_Access_Demo</targetReference>
            </connector>
            <label>Default</label>
        </rules>
        <rules>
            <name>Inheritted_sharing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ComponentChoice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Inherited</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Inherited_Sharing_Access_Demo</targetReference>
            </connector>
            <label>Inheritted sharing</label>
        </rules>
        <rules>
            <name>WithSharing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ComponentChoice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>With_Sharing</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>With_Sharing_Access_Demo</targetReference>
            </connector>
            <label>WithSharing</label>
        </rules>
        <rules>
            <name>WithoutSharing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ComponentChoice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Without_Sharing</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Without_Sharing_Access_Demo</targetReference>
            </connector>
            <label>WithoutSharing</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Display Opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Display Opportunities -&gt; User Or System Context - Depends on How Flow is Launched</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>get_opportunity</name>
        <label>get opportunities</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>display_an_opportunity</targetReference>
        </connector>
        <faultConnector>
            <targetReference>faultmessage</targetReference>
        </faultConnector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>display_an_opportunity</name>
        <label>display an opportunity</label>
        <locationX>1370</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ComponentChoiceAssi</targetReference>
        </connector>
        <fields>
            <name>Invocable_method_Sharing_Keyword</name>
            <choiceReferences>With_Sharing</choiceReferences>
            <choiceReferences>Without_Sharing</choiceReferences>
            <choiceReferences>Inherited</choiceReferences>
            <choiceReferences>Default</choiceReferences>
            <choiceReferences>Get_Records_Element</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ComponentChoice</elementReference>
            </defaultValue>
            <fieldText>Invocable method Sharing Keyword</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>show_opportunities1</name>
            <fieldType>Repeater</fieldType>
            <fields>
                <name>opportunity</name>
                <fieldText>&lt;p&gt;&lt;strong&gt;Name: &lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!Default_Access_Demo[$EachItem].Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Stage: &lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!Default_Access_Demo[$EachItem].StageName}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Type: &lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!Default_Access_Demo[$EachItem].Type}&lt;/span&gt;&lt;/p&gt;</fieldText>
                <fieldType>DisplayText</fieldType>
            </fields>
            <inputParameters>
                <name>collection</name>
                <value>
                    <elementReference>Default_Access_Demo</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>canAddItem</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>canRemoveItem</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ComponentChoice</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Default</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>With_Sharing_Repeater</name>
            <fieldType>Repeater</fieldType>
            <fields>
                <name>With_Sharing_text</name>
                <fieldText>&lt;p&gt;&lt;strong&gt;Name: &lt;/strong&gt;{!With_Sharing_Access_Demo[$EachItem].Name}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Stage: &lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!With_Sharing_Access_Demo[$EachItem].StageName}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;﻿Type: &lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!With_Sharing_Access_Demo[$EachItem].Type}&lt;/span&gt;&lt;/p&gt;</fieldText>
                <fieldType>DisplayText</fieldType>
            </fields>
            <inputParameters>
                <name>collection</name>
                <value>
                    <elementReference>With_Sharing_Access_Demo</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>canAddItem</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>canRemoveItem</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ComponentChoice</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>With_Sharing</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Without_sharing_repeater</name>
            <fieldType>Repeater</fieldType>
            <fields>
                <name>Without_sharing_text</name>
                <fieldText>&lt;p&gt;&lt;strong&gt;Name: &lt;/strong&gt;{!Without_Sharing_Access_Demo[$EachItem].Name}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Stage: &lt;/strong&gt;{!Without_Sharing_Access_Demo[$EachItem].StageName}&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Type: &lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!Without_Sharing_Access_Demo[$EachItem].Type}&lt;/span&gt;&lt;/p&gt;</fieldText>
                <fieldType>DisplayText</fieldType>
            </fields>
            <inputParameters>
                <name>collection</name>
                <value>
                    <elementReference>Without_Sharing_Access_Demo</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>canAddItem</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>canRemoveItem</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ComponentChoice</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Without_Sharing</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>inherited_sharing_repeater</name>
            <fieldType>Repeater</fieldType>
            <fields>
                <name>inherited_sharing_text</name>
                <fieldText>&lt;p&gt;&lt;strong&gt;Name: &lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!Inherited_Sharing_Access_Demo[$EachItem].Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Stage: &lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!Inherited_Sharing_Access_Demo[$EachItem].StageName}﻿&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;﻿Type: &lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!Inherited_Sharing_Access_Demo[$EachItem].Type}&lt;/span&gt;&lt;/p&gt;</fieldText>
                <fieldType>DisplayText</fieldType>
            </fields>
            <inputParameters>
                <name>collection</name>
                <value>
                    <elementReference>Inherited_Sharing_Access_Demo</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>canAddItem</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>canRemoveItem</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ComponentChoice</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Inherited</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>get_records_repeater</name>
            <fieldType>Repeater</fieldType>
            <fields>
                <name>get_recrods_text</name>
                <fieldText>&lt;p&gt;&lt;strong&gt;Name: &lt;/strong&gt;{!get_opportunity[$EachItem].Name}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Stage: &lt;/strong&gt;{!get_opportunity[$EachItem].StageName}&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Type: &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!get_opportunity[$EachItem].Type}&lt;/span&gt;&lt;/p&gt;</fieldText>
                <fieldType>DisplayText</fieldType>
            </fields>
            <inputParameters>
                <name>collection</name>
                <value>
                    <elementReference>get_opportunity</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>canAddItem</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>canRemoveItem</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ComponentChoice</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Get_Records_Element</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>faultmessage</name>
        <label>faultmessage</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>error_message</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>1244</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>display_an_opportunity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ComponentChoice</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
